/* default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* root */
:root {
  --blue: #004b92;
  --white: #fff;
  --light-grey: #E9E9E9;
  --lighter-gray: #e8e8e8;
  --black: #000;
  --shadow: #9e9e9e;
  --blue1: #0000ff;
}

/* root Ends */

button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  color: var(--blue1);
  cursor: pointer;
}

/* default Ends */


/* navbar */
#my_navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--blue);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  transition: 0.3s;
}

#my_navbar ul li {
  display: inline-flex;
  padding: 10px 15px;
  font-size: 20px;
}

#my_navbar a,
#my_home h2 {
  color: var(--white);
}

#my_navbar .my_name {
  font-size: 25px;
  padding: 10px 0px;
}

#switch {
  display: none;
}

@media only screen and (max-width: 730px) {
  #my_navbar {
    display: block;
    padding: 20px;
    overflow: hidden;
  }

  #my_navbar ul {
    display: none;
  }

  #my_navbar ul li {
    display: block;
    padding: 10px;
  }

  #switch {
    display: block;
    float: right;
    background: transparent;
    font-size: 30px;
    color: var(--white);
    width: unset;
    height: unset;
  }
}

/* navbar Ends */




/* first section */
#my_home {
  background: url('../img/pics.jpg') no-repeat center/cover;
  height: 100vh;
  margin-top: 55px;
  display: grid;
  place-items: center;
}

#my_home .container {
  max-width: 700px;
  padding: 0px 20px;
}

#my_home .container button {
  width: 160px;
  font-size: 18px;
  margin-top: 20px;
  margin-right: 10px;
}

#my_home .container button.change {
  background: var(--blue);
  color: var(--white);
}

/* first section  ends */



/* about page */
#my_about {
  background: var(--light-grey);
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 90px 40px;
}

#my_about .mypics {
  background: var(--white);
  border-radius: 10px;
  max-height: 450px;
  max-width: 400px;
}

#my_about .mypics img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#my_about .myself {
  padding-left: 50px;
}

#my_about .myself .more_of_me button {
  background: var(--white);
  margin-right: 20px;
  transition: 0.3s;
  color: var(--blue);
}

#my_about .myself .more_of_me button.change {
  color: var(--white);
  background: var(--blue);
}

#my_about .myself .more_of_me button:hover {
  height: 50px;
  width: 200px;
  color: var(--white);
  background: var(--blue);
}

#my_about .myself .more_details h1 {
  padding: 20px 0px;
}

#my_about .myself .more_details button {
  background: var(--blue);
  margin-right: 20px;
  transition: 0.3s;
  color: var(--white);
  margin-top: 20px;
}

#my_about .my_skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

#my_about .my_skills div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#my_about .my_skills div img {
  width: 80px;
}

@media only screen and (max-width: 900px) {
  #my_about {
    background: var(--light-grey);
    display: grid;
    grid-template-columns: 1fr;
    padding: 90px 20px;
    margin: auto;
    align-items: center;
    text-align: left;
  }

  #my_about .mypics {
    background: var(--white);
    border-radius: 10px;
    max-height: 450px;
    max-width: 400px;
    margin: auto;
    margin-bottom: 120px;
    margin-top: 30px;
  }

  #my_about .myself .more_of_me {
    text-align: center;
  }
}

@media only screen and (max-width: 730px) {
  #my_about .myself {
    padding-left: 20px;
  }

  #my_about .myself .more_of_me {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #my_about .myself .more_of_me button {
    width: unset;
    height: unset;
    margin-right: 20px;
    padding: 10px 15px;
  }

  #my_about .my_skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #my_about .my_skills div img {
    width: 50px;
  }

  #my_about .myself .more_of_me button:hover {
    height: unset;
    width: unset;
  }
}

@media only screen and (max-width: 400px) {
  #my_about .myself {
    padding-left: 10px;
  }

  #my_about .myself .more_of_me button {
    width: unset;
    height: unset;
    margin-right: 20px;
    padding: 10px;
  }
}

@media only screen and (max-width: 350px) {
  #my_about .myself .more_of_me button {
    width: unset;
    height: unset;
    margin-right: 20px;
    padding: 10px 5px;
  }

  #my_about .my_skills div img {
    width: 30px;
  }
}

/* about page  Ends */



/* services */
#my_services {
  background: var(--white);
  text-align: center;
  padding: 80px 0px;
}

#my_services .my_service,
#my_portfolio .my_works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 20px 0px 20px;
  gap: 30px;
}

#my_services .my_service .my_service_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  margin: auto;
  box-shadow: 0px 0px 10px var(--shadow);
  border-radius: 5px;
  height: 350px;
  padding: 0px 20px;
  transition: 0.3s;
}

#my_services .my_service .my_service_box:hover {
  background: var(--blue);
  color: var(--white);
  transform: translateY(-10px);
}

#my_services .my_service .my_service_box:hover .my_services_btn {
  background: var(--white);
  color: var(--blue);
}

#my_services .my_service .my_service_box p.reduce {
  font-size: 15px;
}

#my_services .my_service .my_service_box .my_services_btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 50px;
  background: var(--blue);
  border: none;
  outline: none;
  color: var(--white);
  margin-bottom: 10px;
}

@media only screen and (max-width: 950px) {
  #my_services .my_service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 20px 0px 20px;
    gap: 30px;
  }

  #my_services .my_service .my_service_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 5px;
    height: 350px;
    padding: 0px 20px;
  }
}

@media only screen and (max-width: 750px) {
  #my_services .my_service {
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px 20px 0px 20px;
    gap: 30px;
  }

  #my_services .my_service .my_service_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 5px;
    height: 350px;
    padding: 0px 20px;
  }
}

/* services Ends */



/* my portfolio */
#my_portfolio {
  padding: 80px 0px;
  background: var(--lighter-gray);
}

#my_portfolio h1 {
  text-align: center;
}

#my_portfolio .my_works {
  margin-top: 30px;
  gap: 10px;
}

#my_portfolio .my_works p {
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

#my_portfolio .my_works .my_works_box {
  max-width: 450px;
  margin: 10px;
  box-shadow: 0px 0px 10px var(--shadow);
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  transition: 0.3s;
}

#my_portfolio .my_works .my_works_box:hover img {
  transform: scale(1.1);
}

#my_portfolio .my_works .my_works_box h3 {
  padding: 10px 0px;
}

#my_portfolio .my_works .my_works_box img {
  object-fit: contain;
  width: 100%;
  transition: 0.3s;
}

#my_portfolio .my_works .my_works_box .view_my_code {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
}

#my_portfolio .my_works .my_works_box .view_my_code button {
  height: 40px;
  width: 120px;
  background: var(--blue);
  color: var(--white);
  margin: 10px 0px;
}

#my_portfolio .my_works .my_works_box .view_my_code button a {
  color: var(--white);
}

@media only screen and (max-width: 1000px) {
  #my_portfolio .my_works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 20px;
    gap: 10px;
    align-items: center;
  }

  #my_portfolio .my_works .my_works_box {
    max-width: 500px;
    margin: 10px 10px;
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 750px) {
  #my_portfolio .my_works {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px auto;
    gap: 10px;
    align-items: center;
  }

  #my_portfolio .my_works .my_works_box {
    max-width: 400px;
    margin: 10px auto;
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 730px) {
  #my_portfolio .my_works {
    width: 90%;
    margin: 10px 20px;
  }
}

@media only screen and (max-width: 400px) {
  #my_portfolio .my_works {
    width: 90%;
    margin: 10px 20px;
  }
}

/* my portfolio Ends */



/* my Contact */
#my_contact {
  padding: 80px 0px;
}

#my_contact h1 {
  text-align: center;
}

#my_contact form {
  max-width: 900px;
  margin: auto;
}

#my_contact form input {
  height: 50px;
  width: 100%;
  margin: 10px auto;
  padding-left: 10px;
  outline: none;
  border: 1px solid var(--blue);
  border-radius: 3px;
}

#my_contact form .group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin: 10px 0px 0px 0px;
}

#my_contact form input.title {
  width: 100%;
  margin: 10px auto;
}

#my_contact form textarea {
  margin: 10px 0px;
  width: 100%;
  outline: none;
  padding: 10px;
  resize: none;
  border: 1px solid var(--blue);
  border-radius: 5px;
}

#my_contact form .client_details {
  display: flex;
  flex-wrap: wrap;
}

#my_contact form .client_submit {
  display: flex;
  justify-content: center;
}

#my_contact form .client_submit button {
  height: 50px;
  width: 120px;
  background: var(--blue);
  color: var(--white);
  margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
  #my_contact form {
    max-width: 900px;
    margin: 0px 20px;
  }
}

@media only screen and (max-width: 900px) {
  #my_contact form .group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  #my_contact form .group input {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 860px) {
  #my_contact form input {
    height: 50px;
    width: 400px;
    margin: 10px 15px;
    padding-left: 10px;
    outline: none;
  }
}

@media only screen and (max-width: 750px) {
  #my_contact form .group {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  #my_contact form .group input {
    width: 100%;
    margin: auto;
  }
}

/* my Contact  Ends*/



/* footer */
footer {
  padding: 50px 0px;
  background: var(--light-grey);
}

footer h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0px;
}

footer .my_social_accounts ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

footer .my_social_accounts ul li {
  display: inline-flex;
}

footer .my_social_accounts ul li a button {
  width: 40px;
  height: 40px;
  background: transparent;
  font-size: 25px;
  margin: 0px 20px;
  transition: 0.3s;
}

footer p {
  text-align: center;
  padding-top: 10px;
}

@media only screen and (max-width: 730px) {
  footer .my_social_accounts ul li a button {
    width: 30px;
    height: 30px;
    background: transparent;
    font-size: 25px;
    margin: 0px 10px;
    transition: 0.3s;
  }
}

@media only screen and (max-width: 400px) {
  footer .my_social_accounts ul li a button {
    width: 30px;
    height: 30px;
    background: transparent;
    font-size: 25px;
    margin: 0px 10px;
    transition: 0.3s;
  }
}

@media only screen and (max-width: 350px) {
  footer .my_social_accounts ul li a button {
    width: 30px;
    height: 30px;
    background: transparent;
    font-size: 25px;
    margin: 0px 5px;
    transition: 0.3s;
  }
}

/* footer  Ends*/



/* Preloader */